@import "fonts/sansation/stylesheet.css";
/* =Base, reset, normalize
-----------------------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
}
/* Structure tags */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* Responsive images and other embedded objects */
img,
object,
embed,
video,
iframe {
  width: auto;
  max-width: 100%;
}
/* Responsive images aspeÑt ratio */
img,
video,
iframe {
  height: auto;
}
/* To prevent some browsers from inserting quotes on q and p */
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
/* Image inside */
a img,
th img,
td img {
  vertical-align: top;
}
/* Webkit browsers reset margin */
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
}
/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}
/* Hand cursor on clickable controls */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* Trick with vertical align for radio and checkbox  */
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
}
/* Horizontal rule reset  */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
}
/* Clearfix */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* =Typography
-----------------------------------------------------------------------------*/
body {
  background: #ffffff;
  color: #000000;
  font-size: 0.875em;
  line-height: 1.5em;
  font-family: 'SansationLight', sans-serif;
}
a {
  color: #ffffff;
}
a:hover {
  color: #cccccc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 2.5714285714285716em;
  line-height: 1em;
}
h2 {
  font-size: 1.4285714285714286em;
  line-height: 1.1em;
}
h3 {
  font-size: 1.7142857142857142em;
  line-height: 1.3em;
}
h4 {
  font-size: 1.2857142857142858em;
  line-height: 1.3em;
}
h5 {
  font-size: 1.1428571428571428em;
  line-height: 1.3em;
}
h6 {
  font-size: 1em;
  line-height: 1.3em;
  text-transform: uppercase;
}
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4 {
  margin-bottom: .1em;
}
.subheader {
  font-size: 1.2em;
  font-weight: normal;
  color: #8f8f8f;
  margin-bottom: 1em;
}
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 1.5em;
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 2em;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
hgroup,
table,
form,
fieldset {
  margin-bottom: 1.5em;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1em;
}
blockquote {
  margin-bottom: 1.5em;
  padding-left: 1.5em;
  border-left: 1px solid #ccc;
  color: #666;
}
blockquote small,
cite {
  color: #888;
  font-style: italic;
}
blockquote p {
  margin-bottom: 1em;
  font-style: italic;
}
small,
blockquote cite {
  font-size: 0.85em;
  line-height: 1;
}
blockquote .pull-right,
.row blockquote .pull-right {
  float: none;
  text-align: right;
  display: block;
}
address {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  font-size: 0.85em;
  font-style: italic;
}
ins,
mark {
  background-color: #ffee55;
  color: #000000;
  text-decoration: none;
}
pre,
code,
kbd,
samp {
  font-size: 90%;
  font-family: Menlo, Monaco, monospace, sans-serif;
}
pre {
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1.5em;
  white-space: pre;
  overflow: auto;
}
code {
  padding: 2px 3px;
  display: inline-block;
  line-height: 1;
  background: #f8f8f8;
  border: 1px solid #ddd;
}
kbd {
  padding: 0 6px;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #ffffff inset;
  background-color: #fafafa;
  border-color: #ccc #ccc white;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #444;
  font-weight: bold;
  white-space: nowrap;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-size: 13px;
}
fieldset {
  padding: 2em 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #dddddd;
}
legend {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1em;
}
tfoot th,
tfoot td {
  background-color: #f2f2f2;
}
th,
td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.75em 0.5em;
}
/* =Grid
-----------------------------------------------------------------------------*/
.row {
  margin-bottom: 1.5em;
}
.container.row {
  margin-bottom: 0;
}
.container:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.half,
.third,
.quarter,
.fifth,
.sixth,
.twothird,
.twofifth,
.threefifth,
.fourfifth,
.fivesixth,
.threequarter {
  margin-left: 3.1914893617021276%;
  float: left;
  min-height: 1px;
}
.half:first-child,
.third:first-child,
.quarter:first-child,
.fifth:first-child,
.sixth:first-child,
.twothird:first-child,
.twofifth:first-child,
.threefifth:first-child,
.fourfifth:first-child,
.fivesixth:first-child,
.threequarter:first-child {
  margin-left: 0;
}
.sixth {
  width: 14.007092198581558%;
}
.fifth {
  width: 17.4468085106383%;
}
.quarter {
  width: 22.606382978723403%;
}
.third {
  width: 31.205673758865245%;
}
.half {
  width: 48.40425531914894%;
}
.threequarter {
  width: 74.20212765957446%;
}
.twothird {
  width: 65.60283687943262%;
}
.twofifth {
  width: 38.08510638297872%;
}
.threefifth {
  width: 58.72340425531915%;
}
.fourfifth {
  width: 79.36170212765958%;
}
.fivesixth {
  width: 82.8014184397163%;
}
.push-half,
.push-threequarter,
.push-quarter,
.push-third,
.push-twothird,
.push-fifth,
.push-twofifth,
.push-threefifth,
.push-fourfifth,
.push-sixth,
.push-fivesixth {
  position: relative;
}
.push-half {
  left: 51.59574468085106%;
}
.push-third {
  left: 34.39716312056737%;
}
.push-quarter {
  left: 25.79787234042553%;
}
.push-fifth {
  left: 20.638297872340427%;
}
.push-sixth {
  left: 17.198581560283685%;
}
.push-threequarter {
  left: 77.39361702127658%;
}
.push-twothird {
  left: 68.79432624113474%;
}
.push-twofifth {
  left: 41.27659574468085%;
}
.push-threefifth {
  left: 61.91489361702128%;
}
.push-fourfifth {
  left: 82.55319148936171%;
}
.push-fivesixth {
  left: 85.99290780141843%;
}
.split .half,
.split .third,
.split .quarter,
.split .fifth,
.split .sixth,
.split .twothird,
.split .twofifth,
.split .threefifth,
.split .fourfifth,
.split .fivesixth,
.split .threequarter {
  margin-left: 0;
}
.split .half {
  width: 50%;
}
.split .threequarter {
  width: 75%;
}
.split .quarter {
  width: 25%;
}
.split .third {
  width: 33.3%;
}
.split .twothird {
  width: 66.6%;
}
.split .fifth {
  width: 20%;
}
.split .twofifth {
  width: 40%;
}
.split .threefifth {
  width: 60%;
}
.split .fourfifth {
  width: 80%;
}
.split .sixth {
  width: 16.6%;
}
.split .fivesixth {
  width: 83.4%;
}
.inner {
  padding: 1.5em;
}
.inner-left {
  padding-left: 1.5em;
}
.inner-right {
  padding-right: 1.5em;
}
.inner-nobottom {
  padding-bottom: 1px;
}
.inner-double {
  padding: 3em;
}
.inner-double-left {
  padding-left: 3em;
}
.inner-double-right {
  padding-right: 3em;
}
.inner-double-nobottom {
  padding-bottom: 1px;
}
.row .push-right {
  float: right;
}
.row .centered {
  float: none;
  margin: 0 auto;
}
/* =Responsive Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .row .half,
  .row .third,
  .row .quarter,
  .row .fifth,
  .row .sixth,
  .row .twothird,
  .row .twofifth,
  .row .threefifth,
  .row .fourfifth,
  .row .fivesixth,
  .row .threequarter {
    margin-left: 0;
    width: 100%;
  }
  .push-half,
  .push-threequarter,
  .push-quarter,
  .push-third,
  .push-twothird,
  .push-fifth,
  .push-twofifth,
  .push-threefifth,
  .push-fourfifth,
  .push-sixth,
  .push-fivesixth {
    left: 0;
  }
  .row .pull-right {
    float: none;
  }
  /*
  		Blocks
  	*/
  .block-two,
  .block-three,
  .block-four,
  .block-five,
  .block-six {
    margin-left: 0;
    margin-bottom: 1.5em;
  }
  .block-two > li,
  .block-three > li,
  .block-four > li,
  .block-five > li,
  .block-six > li {
    float: none;
    margin: 0;
    width: 100%;
  }
  /*
  		Forms
  	*/
  .forms.columnar label {
    float: none;
    text-align: left;
    width: auto;
  }
  .forms.columnar .push,
  .forms.columnar div.descr {
    margin-left: 0;
  }
  .forms .multicolumn li {
    float: none;
    margin-right: 0;
  }
  .forms .multicolumn li.width-50,
  .forms .multicolumn li.width-33 {
    width: 100%;
  }
  .forms.columnar li fieldset,
  .forms.columnar li fieldset section {
    width: 100%;
    padding-left: 0;
    text-align: left;
    position: static;
  }
  .forms fieldset {
    padding: 0;
    padding-top: 1em;
    border: none;
  }
  .forms fieldset legend {
    padding: 0;
  }
}
.project {
  margin-top: 50px;
}
#page {
  margin-top: 16px;
}
.rightalign {
  text-align: right;
}
.logo-text-regular {
  fill: #b8b8b8;
}
.logo-text-emphasized {
  fill: #782121;
}
.big-image {
  background-color: #782121;
  height: 140px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 6px;
  margin-left: -20px;
  margin-right: -20px;
  background-position: center center;
}
.header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
h2 {
  color: #782121;
}
#nav {
  position: relative;
  height: 36px;
  font-size: 1.2em;
}
#nav ul {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  line-height: 0;
}
#nav li {
  list-style-type: none;
  display: inline;
  line-height: 1.2em;
  margin-left: 16px;
}
#nav li.active a {
  font-weight: bold;
  color: #782121;
}
#nav li a {
  color: #b8b8b8;
}
a {
  text-decoration: none;
}
