
body {
    font-family: SansationLight;
    //.rhythm-grid();
    .rhythm();
    background-image: url('images/bg.png');
    background-color: #f4f4f4;
}

#logodiv {
    .rhythm-height(36px, 1px);
}

h1 {
    font-family: SansationRegular;
    font-weight: normal;
    color: @colorPrimary;
    .rhythm-text(24px);
}

h2 {
    font-family: SansationRegular;
    font-weight: normal;
    color: @colorPrimary;
    .rhythm-margin(1, 0);
    .rhythm-text(20px);
}

p {
    .rhythm-margin(0, 1);
}

.rightalign {
    text-align: right;
}

.big-image {
    .rhythm-height-pad-parent(140px, 10px);
    div {
        background-color: @colorPrimary;
        border-radius: 6px;
        margin-left: -20px;
        margin-right: -20px;
        background-position: center center;
    }
}

.header {
    border-bottom: 1px solid #ccc;
    .rhythm-margin(1);
}

#nav {
    ul {
        right: 0;
        bottom: 0;
        .rhythm-margin-top(1);
        margin-bottom: -1px;
        text-align: right;
        .rhythm-text(16px);
    }

    li {
        list-style-type: none;
        display: inline;
        margin-left: 16px;

        a.active {
            font-family: SansationRegular;
            color: @colorPrimary;
        }

        a {
            color: @colorSecondary;
        }
    }
}

a {
    text-decoration: none;
}

