
body {
    font-family: SansationLight;
    //.rhythm-grid();
    .rhythm();
    background-image: url('images/bg.png');
    background-color: #f4f4f4;
}

#logodiv {
    .rhythm-height(36px, 1px);
}

#page {
    margin: 0 30px;
}

img {
    float: right;
    padding: 2px;
    border: 1px solid #DDD;
    margin-left: 10px;
}

h2 {
    font-family: SansationRegular;
    font-weight: normal;
    color: @colorPrimary;
    .rhythm-margin(1, 0);
    .rhythm-text(20px);

    a {
        color: @colorPrimary;
        display: block;
    }
}

em {
    font-family: SansationLightLightItalic;
}

strong {
    font-family: SansationRegular;
}

code {
    font-size: 12px;
}

p, pre {
    .rhythm-margin(0, 1);
}

.rightalign {
    text-align: right;
}

.big-image {
    .rhythm-height-pad-parent(140px, 10px);
    a {
        display: block;
        background-color: @colorPrimary;
        border-radius: 6px;
        margin-left: -20px;
        margin-right: -20px;
        background-position: center center;
    }
}

.header {
    border-bottom: 1px solid #ccc;
    .rhythm-margin(1);
}

#nav {
    ul {
        right: 0;
        bottom: 0;
        .rhythm-margin-top(1);
        margin-bottom: -1px;
        text-align: right;
        .rhythm-text(16px);
    }

    li {
        list-style-type: none;
        display: inline;
        margin-left: 16px;

        a.active {
            font-family: SansationRegular;
            color: @colorPrimary;
        }

        a {
            color: @colorSecondary;
        }
    }
}

a {
    text-decoration: none;
    color: @colorAccent;

    &:visited {
        color: darken(@colorAccent, 10%);
    }

    &:hover {
        color: desaturate(@colorAccent, 100%);
    }
}

