<html>

<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400i,700|PT+Serif:400,400i,700" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
    <!-- End of mathjax configuration -->
</head>

<body>
    <div class="header">
        <div class="stuff">
            <a href="/" class="logo">
                <span style="color: #a00">bit</span>
                <span style="color: #aaa">aesthetics</span>
            </a>
            <ul class="nav">
                <li>
                    <a href="/">projects</a>
                </li>
                <li>
                    <a href="/posts.html">blog</a>
                </li>
                <li>
                    <a href="/pages/about.html">about</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content">