<html>

<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400i,700|PT+Serif:400,400i,700" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body>
    <div class="header">
        <div class="stuff">
            <a href="/" class="logo">
                <span style="color: #a00">bit</span>
                <span style="color: #aaa">aesthetics</span>
            </a>
            <ul class="nav">
                <li>
                    <a href="/">projects</a>
                </li>
                <li>
                    <a href="/posts.html">blog</a>
                </li>
                <li>
                    <a href="/pages/about.html">about</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content">