---
layout: base
page: blog
---
div
    each post in getCollection('posts').toJSON()
        div
            h2
                a(href=post.url)
                    | #{post.name}
            p #{formatDate(post.date, 'MMMM Do YYYY')}
            !{post.contentRenderedWithoutLayouts}
