---
layout: base
title: Blog
page: blog
---
each post in getCollection('posts').toJSON()
  div(class='post row')
    div(class='large-5 columns post-meta')
      a(href=post.url)
        h1
          = post.title
      ul
        li(class='post-author') By 
          a(href='http://paulbutler.org/')
            | Paul Butler
        li(class='post-date')= moment(post.date).format('MMMM Do, YYYY')
    div(class='large-6 columns end post-content')
      !{post.contentRenderedWithoutLayouts}

