---
layout: base
page: projects
---
each project in getCollection('projects').toJSON()
  div(class='project')
    h2
      a(href=project.link)
        | #{project.name}
    img(src='projects/images/#{project.slug}.png')
    div(class='description')!= project.contentRendered
