doctype 5
html(lang='en')
    head
        title bitaesthetics &ndash; #{document.title}
        meta(charset='utf-8', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', type='text/css', href='styles/base.css')

    body
        div#page(class='row')
            div(class='half centered')
                !{content}
        
