---
layout: base
page: blog
---
div(class='post row')
  div(class='large-5 columns post-meta')
    h1= document.title
    ul
      li(class='post-author') By 
        a(href='http://paulbutler.org/')
          | Paul Butler
      li(class='post-date')= moment(document.date).format('MMMM Do, YYYY')
  div(class='large-6 columns end post-content')
    !{content}
